version: '3.8'

services:
  minecraft:
    image: marctv/minecraft-papermc-server:latest
    container_name: papermc-dragonegg
    restart: unless-stopped
    ports:
      - "25565:25565"
    environment:
      - MEMORYSIZE=2G
      - PAPERMC_FLAGS=
    volumes:
      - ./server-data:/data:rw
      - ./target/DragonEggLightning-1.0.0.jar:/data/plugins/DragonEggLightning.jar:ro
    stdin_open: true
    tty: true
    networks:
      - minecraft-network

networks:
  minecraft-network:
    driver: bridge
