version: '3.8'

services:
  minecraft:
    image: marctv/minecraft-papermc-server:1.21.8
    container_name: papermc-dragonegg
    restart: unless-stopped
    ports:
      - "25565:25565"
    environment:
      - MEMORYSIZE=2G
      - JAVAFLAGS=-Dcom.mojang.eula.agree=true
      - PAPERMC_FLAGS=-Dcom.mojang.eula.agree=true
    volumes:
      - ./server-data:/data:rw
      - ./target/DragonEggLightning-*.jar:/data/plugins/DragonEggLightning.jar:rw
    stdin_open: true
    tty: true
    networks:
      - minecraft-network

networks:
  minecraft-network:
    driver: bridge
